body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  background-color: white; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 70px 0px 70px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
  nav h1 {
    color: antiquewhite; }
  nav .fa-basket-shopping {
    font-size: 30px;
    color: antiquewhite; }

.product-fajas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.product-container {
  height: 480px;
  width: 250px;
  border-radius: 20%;
  background-color: antiquewhite;
  margin: 30px 30px 0px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all .2s ease-in-out; }
  .product-container:hover {
    transform: scale(1.03); }
  .product-container .product-picture img {
    height: 320px;
    width: 100%; }
  .product-container .product-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .product-container .product-data h3 {
      margin: 0px; }
    .product-container .product-data p {
      margin: 0px; }
  .product-container .product-car {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 30px; }
  .product-container .car-button {
    border: 0;
    border-radius: 10%;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    background-color: #e65f5f;
    color: whitesmoke;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: all .2s ease-in-out;
    cursor: pointer; }
    .product-container .car-button:hover {
      transform: scale(1.1);
      background-color: black; }

.selected-products {
  width: 400px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: all .2s ease-in-out; }
  .selected-products:hover {
    transform: scale(1.1); }
  .selected-products .quantity-car {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px; }

.user-car-btn {
  background-color: #e65f5f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  font-size: 20px;
  border: 0px;
  border-radius: 50%;
  margin: 0px 10px 0px 10px; }

.basket-car {
  display: flex;
  justify-content: center;
  align-items: center; }
